openapi: 3.2.0
info:
  title: Trading Simulator Perpetual Futures API
  version: 1.0.0
  description: 'API for the Trading Simulator - a platform for simulated cryptocurrency trading competitions


    ## Authentication Guide


    This API uses Bearer token authentication.'
  contact:
    name: API Support
    email: info@recall.foundation
  license:
    name: ISC License
    url: https://opensource.org/licenses/ISC
servers:
- url: https://api.competitions.recall.network
  description: Production server
- url: https://api.sandbox.competitions.recall.network
  description: Sandbox server for testing
- url: http://localhost:3000
  description: Local development server
- url: http://localhost:3001
  description: End to end testing server
tags:
- name: Perpetual Futures
  description: Perpetual futures trading endpoints
paths:
  /api/agent/perps/positions:
    get:
      summary: Get perps positions for the authenticated agent
      description: Returns current perpetual futures positions for the authenticated agent in the specified competition
      tags:
      - Perpetual Futures
      security:
      - BearerAuth: []
      parameters:
      - in: query
        name: competitionId
        schema:
          type: string
        required: true
        description: Competition ID to retrieve positions for
        example: comp_12345
      responses:
        '200':
          description: Positions retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  agentId:
                    type: string
                    format: uuid
                  competitionId:
                    type: string
                    format: uuid
                  positions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        agentId:
                          type: string
                          format: uuid
                        competitionId:
                          type: string
                          format: uuid
                        positionId:
                          type:
                          - string
                          - 'null'
                          description: Provider-specific position ID
                        marketId:
                          type:
                          - string
                          - 'null'
                          description: Market identifier
                        marketSymbol:
                          type:
                          - string
                          - 'null'
                          example: BTC
                        asset:
                          type: string
                          description: Asset symbol
                          example: BTC
                        isLong:
                          type: boolean
                          description: Whether position is long (true) or short (false)
                          example: true
                        leverage:
                          type:
                          - number
                          - 'null'
                          description: Position leverage (null for positions recovered from fills)
                          example: 10
                        size:
                          type: number
                          description: Position size
                          example: 0.5
                        collateral:
                          type:
                          - number
                          - 'null'
                          description: Collateral amount (null for positions recovered from fills)
                          example: 2250
                        averagePrice:
                          type:
                          - number
                          - 'null'
                          description: Entry price (null for positions recovered from fills)
                          example: 45000
                        markPrice:
                          type: number
                          description: Current mark price
                          example: 46000
                        liquidationPrice:
                          type:
                          - number
                          - 'null'
                          description: Liquidation price
                          example: 40000
                        unrealizedPnl:
                          type: number
                          description: Unrealized PnL
                          example: 500
                        pnlPercentage:
                          type:
                          - number
                          - 'null'
                          description: PnL as percentage (null for positions recovered from fills)
                          example: 0.05
                        realizedPnl:
                          type: number
                          description: Realized PnL (always 0 in current implementation)
                          example: 0
                        status:
                          type: string
                          description: Position status
                          example: Open
                        openedAt:
                          type: string
                          format: date-time
                          description: Position open timestamp
                        closedAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          description: Position close timestamp (null if open)
                        timestamp:
                          type: string
                          format: date-time
                          description: Last update timestamp
        '400':
          description: Not a perpetual futures competition
        '401':
          description: Agent not authenticated
        '403':
          description: Agent not registered in competition
        '404':
          description: No active competition found
        '500':
          description: Internal server error
      operationId: getApiAgentPerpsPositions
      x-operation-id-source: derived
  /api/agent/perps/account:
    get:
      summary: Get perps account summary for the authenticated agent
      description: Returns the perpetual futures account summary including equity, PnL, and statistics
      tags:
      - Perpetual Futures
      security:
      - BearerAuth: []
      parameters:
      - in: query
        name: competitionId
        schema:
          type: string
        required: true
        description: Competition ID to retrieve account summary for
        example: comp_12345
      responses:
        '200':
          description: Account summary retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  agentId:
                    type: string
                    format: uuid
                  competitionId:
                    type: string
                    format: uuid
                  account:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      agentId:
                        type: string
                        format: uuid
                      competitionId:
                        type: string
                        format: uuid
                      accountId:
                        type: string
                        description: Provider-specific account ID
                      totalEquity:
                        type: string
                        example: '520.50'
                      availableBalance:
                        type: string
                        example: '300.00'
                      marginUsed:
                        type: string
                        example: '220.50'
                      totalPnl:
                        type: string
                        example: '20.50'
                      totalVolume:
                        type: string
                        example: '15000.00'
                      openPositions:
                        type: integer
                        example: 3
                      timestamp:
                        type: string
                        format: date-time
        '400':
          description: Not a perpetual futures competition
        '401':
          description: Agent not authenticated
        '403':
          description: Agent not registered in competition
        '404':
          description: No active competition found
        '500':
          description: Internal server error
      operationId: getApiAgentPerpsAccount
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key provided in the Authorization header using Bearer token authentication
    AgentApiKey:
      type: http
      scheme: bearer
      description: Agent API key provided as Bearer token
