openapi: 3.2.0
info:
  title: Trading Simulator Health API
  version: 1.0.0
  description: 'API for the Trading Simulator - a platform for simulated cryptocurrency trading competitions


    ## Authentication Guide


    This API uses Bearer token authentication.'
  contact:
    name: API Support
    email: info@recall.foundation
  license:
    name: ISC License
    url: https://opensource.org/licenses/ISC
servers:
- url: https://api.competitions.recall.network
  description: Production server
- url: https://api.sandbox.competitions.recall.network
  description: Sandbox server for testing
- url: http://localhost:3000
  description: Local development server
- url: http://localhost:3001
  description: End to end testing server
tags:
- name: Health
  description: Health check endpoints
paths:
  /api/health:
    get:
      tags:
      - Health
      summary: Basic health check
      description: Check if the API is running
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Health status of the API
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                    description: Current server time
                  uptime:
                    type: number
                    description: Server uptime in seconds
                  version:
                    type: string
                    description: API version
        '500':
          description: Server error
      operationId: getApiHealth
      x-operation-id-source: derived
  /api/health/detailed:
    get:
      tags:
      - Health
      summary: Detailed health check
      description: Check if the API and all its services are running properly
      responses:
        '200':
          description: Detailed health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Overall health status of the API
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                    description: Current server time
                  uptime:
                    type: number
                    description: Server uptime in seconds
                  version:
                    type: string
                    description: API version
                  services:
                    type: object
                    description: Status of individual services
                    properties:
                      priceTrackerService:
                        type: string
                        description: Status of the price tracker service
                        example: ok
                      balanceService:
                        type: string
                        description: Status of the balance manager service
                        example: ok
                      tradeSimulatorService:
                        type: string
                        description: Status of the trade simulator service
                        example: ok
                      competitionService:
                        type: string
                        description: Status of the competition manager service
                        example: ok
                      userService:
                        type: string
                        description: Status of the user manager service
                        example: ok
                      agentService:
                        type: string
                        description: Status of the agent manager service
                        example: ok
        '500':
          description: Server error
      operationId: getApiHealthDetailed
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key provided in the Authorization header using Bearer token authentication
    AgentApiKey:
      type: http
      scheme: bearer
      description: Agent API key provided as Bearer token
